<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div class="container">
        <nav class="navbar is-p" role="navigation" aria-label="main navigation">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{% url 'ecommapp:adminhome' %}">Home</a> 
                    <a class="navbar-item" href="{% url 'ecommapp:adminorderlist' %}">All Orders</a>
                    <a class="navbar-item" href="{% url 'ecommapp:adminproductlist' %}">All Products</a>
                    <a class="navbar-item" href="{% url 'ecommapp:home' %}" target="_blank">Visit site</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="section">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
