{% extends 'base.html' %}

{% block title %}Forgot password{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            {% if request.GET.m == "s" %}
            <h3 class="title is-3">Password reset link is sent to your email address. Please check your email immediately.</h3>
            {% else %}
            <h3 class="title is-4">Enter your email used in making customer account to get password reset link</h3>
            {% if request.GET.m == "e" %}
            <h4 class="has-text-danger">Something went wrong, please enter your email again.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button class="button is-primary is-small">Get Reset Link</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
